In [134]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [115]:
# df1 = pd.read_csv('all_seasons.csv',index_col='Unnamed: 0')
# #df.isnull().sum()
# df['Name'] = df1['player_name']
# df

df = pd.read_csv('all_seasons.csv',index_col='Unnamed: 0')
df1 = df[['player_name','team_abbreviation','country','age','player_height','player_weight','pts','reb']]
dftarget = df1[df1['age'] <= 25][df1['player_height'] >= 180][df1['player_weight'] <= 90][df1['pts'] >= 6][df1['reb'] >= 3]
dftarget
labeltarget = 1
dftarget['Rekrut'] = labeltarget
dftarget

dfnontarget = df1.drop(dftarget.index)
dfnontarget

labelnontarget = 0
dfnontarget['Rekrut'] = labelnontarget
dfnontarget

df1rekrut = pd.concat([dftarget,dfnontarget])
df1rekrut =  df1rekrut.sort_index(ascending=True)

Z:\Anaconda\lib\site-packages\ipykernel_launcher.py:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

# Standardisasi & Cek Outlier

In [143]:
scaler = StandardScaler()
scalerheight = scaler.fit_transform(df1rekrut[['player_height']])
scalerweight = scaler.fit_transform(df1rekrut[['player_weight']])
scalerpts = scaler.fit_transform(df1rekrut[['pts']])
scalerreb = scaler.fit_transform(df1rekrut[['reb']])
scalerage = scaler.fit_transform(df1rekrut[['age']])
df1rekrut['Z AGE'] = scalerage
df1rekrut['Z HEIGHT'] = scalerheight
df1rekrut['Z WEIGHT'] = scalerweight
df1rekrut['Z PTS'] = scalerpts
df1rekrut['Z REB'] = scalerreb
df1rekrut
dfstd = scaler.fit_transform(df1rekrut[['player_height','player_weight','pts','reb','age']])
dfstd
dfstd = pd.DataFrame(dfstd)
dfstd
dfstd['target'] = df1rekrut['Rekrut']
print(df1rekrut)

            player_name team_abbreviation     country   age  player_height  \
0        Chris Robinson               VAN         USA  23.0         195.58
1             Matt Fish               MIA         USA  27.0         210.82
2          Matt Bullard               HOU         USA  30.0         208.28
3          Marty Conlon               BOS         USA  29.0         210.82
4       Martin Muursepp               DAL         USA  22.0         205.74
...                 ...               ...         ...   ...            ...
9556     Elijah Millsap               PHX         USA  29.0         200.66
9557      Elfrid Payton               ORL         USA  23.0         193.04
9558        Edy Tavares               CLE  Cabo Verde  25.0         220.98
9559  Willy Hernangomez               NYK       Spain  23.0         210.82
9560    Wilson Chandler               DEN         USA  30.0         203.20

      player_weight   pts  reb  Rekrut     Z AGE  Z HEIGHT  Z WEIGHT  \
0          90.71840   4.6  1.7       0 -0.996742 -0.578993 -0.802604
1         106.59412   0.3  0.8       0 -0.077272  1.063130  0.439607
2         106.59412   4.5  1.6       0  0.612331  0.789443  0.439607
3         111.13004   7.8  4.4       0  0.382463  1.063130  0.794524
4         106.59412   3.7  1.6       0 -1.226609  0.515755  0.439607
...             ...   ...  ...     ...       ...       ...       ...
9556       97.52228   1.5  3.0       0  0.382463 -0.031619 -0.270228
9557       83.91452  12.8  4.7       1 -0.996742 -0.852680 -1.334980
9558      120.20188   4.0  5.5       0 -0.537007  2.157878  1.504359
9559      108.86208   8.2  7.0       0 -0.996742  1.063130  0.617065
9560      102.05820  15.7  6.5       0  0.612331  0.242068  0.084689

         Z PTS     Z REB
0    -0.589390 -0.747850
1    -1.319614 -1.108712
2    -0.606372 -0.787946
3    -0.045967  0.334735
4    -0.742228 -0.787946
...        ...       ...
9556 -1.115831 -0.226605
9557  0.803131  0.455022
9558 -0.691282  0.775788
9559  0.021961  1.377224
9560  1.295608  1.176746

[9561 rows x 14 columns]

In [117]:
print(df1rekrut['Z HEIGHT'].mean())
print(df1rekrut['Z WEIGHT'].mean())
print(df1rekrut['Z PTS'].mean())
print(df1rekrut['Z REB'].mean())
print(df1rekrut['Z AGE'].mean())

print(df1rekrut['Z HEIGHT'].std())
print(df1rekrut['Z WEIGHT'].std())
print(df1rekrut['Z PTS'].std())
print(df1rekrut['Z REB'].std())
print(df1rekrut['Z AGE'].std())

-1.5993638794892286e-15
4.1953273938331177e-16
2.458027506041765e-16
-5.882637634924216e-17
9.30840896349773e-16
1.0000522998875856
1.0000522998875985
1.0000522998875951
1.0000522998875883
1.0000522998876242

In [118]:
dfstd[(dfstd < -2.5) | (dfstd > 2.5)] = np.NaN
dfstd = dfstd.dropna()
dfstd

             0         1         2         3         4  target
0    -0.578993 -0.802604 -0.589390 -0.747850 -0.996742       0
1     1.063130  0.439607 -1.319614 -1.108712 -0.077272       0
2     0.789443  0.439607 -0.606372 -0.787946  0.612331       0
3     1.063130  0.794524 -0.045967  0.334735  0.382463       0
4     0.515755  0.439607 -0.742228 -0.787946 -1.226609       0
...        ...       ...       ...       ...       ...     ...
9556 -0.031619 -0.270228 -1.115831 -0.226605  0.382463       0
9557 -0.852680 -1.334980  0.803131  0.455022 -0.996742       1
9558  2.157878  1.504359 -0.691282  0.775788 -0.537007       0
9559  1.063130  0.617065  0.021961  1.377224 -0.996742       0
9560  0.242068  0.084689  1.295608  1.176746  0.612331       0

[8948 rows x 6 columns]

In [127]:
datastd = np.array(dfstd)
datastd
datastd = np.array(dfstd.iloc[:,:-1])
datastd

array([[-0.57899275, -0.80260413, -0.58938997, -0.74785002, -0.99674183],
       [ 1.06312962,  0.43960663, -1.31961423, -1.10871173, -0.07727165],
       [ 0.78944256,  0.43960663, -0.60637193, -0.78794577,  0.61233098],
       ...,
       [ 2.15787786,  1.50435871, -0.69128173,  0.7757883 , -0.53700674],
       [ 1.06312962,  0.61706531,  0.02196056,  1.37722448, -0.99674183],
       [ 0.24206844,  0.08468927,  1.29560752,  1.17674575,  0.61233098]])

# SPLITTING DATASET

In [132]:
x = datastd
y = dfstd['target']

In [133]:
xtr, xts, ytr, yts = train_test_split(
    x, y, test_size = 0.18
)
print(xtr.shape)
print(xts.shape)
print(ytr.shape)
print(yts.shape)

(7337, 5)
(1611, 5)
(7337,)
(1611,)

# 1. K-NEAREST NEIGHTBORS

#### K Value

In [140]:
len(xtr)
k = round(len(xtr)**0.5)
# k = 86
k = k+1
k

87

In [141]:
model = KNeighborsClassifier(n_neighbors = k)
model.fit(xtr,ytr)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=87, p=2,
                     weights='uniform')

In [142]:
print(model.score(xts,yts))

0.9869646182495344

In [146]:
# urutannya umur, height, weight, pts, reb
print(model.predict([[2, 190, 90, 7, 6]]))

[0]